{% if form %}
<form method="POST" action="">  {% csrf_token %}
       <!-- {% if as_p %}
          {{ form.as_p }}
                {% else %}
           {{ form.as_ul }}
        {% endif %}   -->       
                

               {{ form.non_field_errors }}
        <p> {{ form.user }} </p>
        <p> <label for="{{ form.title.id_for_label }}"> {{ form.title.label }}:</label> {{ form.title }} 
         {% if form.title.errors %}  
         <div style="color:red"> Errors with titile are:  {{ form.title.errors.as_text }} </div></p>
         {% endif %}
         <p>  {{ form.slug }}  </p>
         <p>  {{ form.image }} </p>
        

      <input type="submit" value="Search" />
 </form>

{% endif %}