

{% extends "base.html" %}

{% block content %}

<h1> Formset View</h1>

<form action=''  method="Post">
   {%  csrf_token %}
 
   {{ formset.as_p  }}

    <input type="submit" value="Submit" />
</form>


{% endblock %}